tests/DemoObject.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://os.demo.neuromancer.projects" xmlns:impl="http://os.demo.neuromancer.projects" xmlns:intf="http://os.demo.neuromancer.projects" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"><wsdl:types><schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.apache.org/xml-soap"><import namespace="http://schemas.xmlsoap.org/soap/encoding/"/><complexType name="mapItem"><sequence><element name="key" nillable="true" type="xsd:string"/><element name="value" nillable="true" type="xsd:string"/></sequence></complexType><complexType name="Map"><sequence><element name="item" minOccurs="0" maxOccurs="unbounded" type="apachesoap:mapItem"/></sequence></complexType></schema><schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.xml.coldfusion"><import namespace="http://schemas.xmlsoap.org/soap/encoding/"/><complexType name="CFCInvocationException"><sequence/></complexType></schema></wsdl:types>
  <wsdl:message name="getUUIDResponse">
    <wsdl:part name="getUUIDReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getDemoStringRequest">
  </wsdl:message>
  <wsdl:message name="getPlayWithComplexResponse">
    <wsdl:part name="getPlayWithComplexReturn" type="apachesoap:Map"/>
  </wsdl:message>
  <wsdl:message name="getDemoStringResponse">
    <wsdl:part name="getDemoStringReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getPlayWithComplexRequest">
    <wsdl:part name="inputstruct" type="apachesoap:Map"/>
  </wsdl:message>
  <wsdl:message name="getUUIDRequest">
  </wsdl:message>
  <wsdl:message name="CFCInvocationException">
    <wsdl:part name="fault" type="tns1:CFCInvocationException"/>
  </wsdl:message>
  <wsdl:message name="getComplexRequest">
    <wsdl:part name="input" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getComplexResponse">
    <wsdl:part name="getComplexReturn" type="apachesoap:Map"/>
  </wsdl:message>
  <wsdl:portType name="DemoObject">
    <wsdl:operation name="getComplex" parameterOrder="input">
      <wsdl:input name="getComplexRequest" message="impl:getComplexRequest"/>
      <wsdl:output name="getComplexResponse" message="impl:getComplexResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
    <wsdl:operation name="getDemoString">
      <wsdl:input name="getDemoStringRequest" message="impl:getDemoStringRequest"/>
      <wsdl:output name="getDemoStringResponse" message="impl:getDemoStringResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
    <wsdl:operation name="getPlayWithComplex" parameterOrder="inputstruct">
      <wsdl:input name="getPlayWithComplexRequest" message="impl:getPlayWithComplexRequest"/>
      <wsdl:output name="getPlayWithComplexResponse" message="impl:getPlayWithComplexResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
    <wsdl:operation name="getUUID">
      <wsdl:input name="getUUIDRequest" message="impl:getUUIDRequest"/>
      <wsdl:output name="getUUIDResponse" message="impl:getUUIDResponse"/>
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DemoObject.cfcSoapBinding" type="impl:DemoObject">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getComplex">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getComplexRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://os.demo.neuromancer.projects"/>
      </wsdl:input>
      <wsdl:output name="getComplexResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://os.demo.neuromancer.projects"/>
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://os.demo.neuromancer.projects"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDemoString">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDemoStringRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://os.demo.neuromancer.projects"/>
      </wsdl:input>
      <wsdl:output name="getDemoStringResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://os.demo.neuromancer.projects"/>
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://os.demo.neuromancer.projects"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPlayWithComplex">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getPlayWithComplexRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://os.demo.neuromancer.projects"/>
      </wsdl:input>
      <wsdl:output name="getPlayWithComplexResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://os.demo.neuromancer.projects"/>
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://os.demo.neuromancer.projects"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUUID">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUUIDRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://os.demo.neuromancer.projects"/>
      </wsdl:input>
      <wsdl:output name="getUUIDResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://os.demo.neuromancer.projects"/>
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://os.demo.neuromancer.projects"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DemoObjectService">
    <wsdl:port name="DemoObject.cfc" binding="impl:DemoObject.cfcSoapBinding">
      <wsdlsoap:address location="http://www.robrohan.com/projects/neuromancer/demo/os/DemoObject.cfc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>